[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	prc = push origin HEAD:refs/for/master
    pb = pull --rebase
    cp = cherry-pick
    pa = pull --rebase ap master
    pi = pull --rebase api master
[user]
	name = Lei Wang
	email = bestwanglei@gmail.com
[push]
	default = current
[core]
	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
