[alias]
    co = checkout
    br = branch
    ci = commit -n
    ca = commit -a --amend --no-edit
    st = status
    prc = push origin HEAD:refs/for/master
    pb = pull --rebase
    pm = pull --rebase origin master
    pd = pull --rebase origin dev
    cp = cherry-pick
    logs = log --pretty=oneline --abbrev-commit
[user]
    name = Lei Wang
    email = bestwanglei@gmail.com
[push]
    default = current
[core]
    editor = vim
[color]
    ui = auto
    status = auto
    branch = auto
