[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	prc = push origin HEAD:refs/for/master
    pb = pull --rebase
    cp = cherry-pick
    pa = pull --rebase apollo master
    pp = pull --rebase paddle develop
[user]
	name = Lei Wang
	email = bestwanglei@gmail.com
[push]
	default = current
[core]
	editor = vim
